{% extends 'main.html' %}

{% block content %}
<h2>O nás</h2>
<p>Tato stránka byla vytvořena jako projekt k rekvalifikačnímu kurzu u společnosti ITnetwork.cz, který má demostrovat
dovednosti, kterými disponuji v oblasti HTML, CSS, prací s databází a především s jazykem Python.</p>
<p>Aplikace je napsaná v Django frameworku, s databází SQLite a některými moduly třetích stran. Uživatelské rozhraní
    využívá frameworku Bootstrap.</p>
<h3>Uživatelské účty</h3>
<p>Pro účely otestování aplikace jsou v databázi připravené uživatelské účty:</p>
<ul>
    <li>admin@iam.cz - účet s právy administrátora</li>
    <li>staff@iam.cz - účet zaměstnance</li>
    <li>novakX@mail.cz, X = 1 až 4 - účty, které byly používány pro testování během vývoje</li>
    <li>cca 100 klientských účtů s náhodně vygenerovanými jmény (podobnost se skutečnými jmény je tedy čistě náhodná)</li>
</ul>
<p>Všechny účty mají heslo nastavené na 'heslo123'.</p>
<p>Klientský účet lze založit vyplněním formuláře po kliknutí na 'Založit pojištění' v hlavním menu
    nebo v odkazu v patičce.</p>
<h3>Funkce stránky</h3>
<p>Stránka disponuje následující funkcionalitou:</p>
<ul>
    <li>Responzivní zobrazení stránek</li>
    <li>Zobrazení dostupných pojistných produktů</li>
    <li>Registrace nového klienta</li>
    <li>Přihlášení stávajícího klienta pomocí emailu a hesla</li>
</ul>
<p>Při přihlášení běžným účtem:</p>
<ul>
    <li>Změna osobních údajů a hesla klienta</li>
    <li>Zrušení účtu</li>
    <li>Založení nové pojistné smlouvy</li>
    <li>Přehled smluv</li>
    <li>Zobrazení detailu smlouvy</li>
    <li>Změna parametrů smlouvy</li>
    <li>Zrušení smlouvy</li>
    <li>Nahlášení pojistné události</li>
    <li>Přehled pojistných událostí s informacemi o jejich vyřízení</li>
    <li>Odhlášení</li>
</ul>
<p>Při přihlášení zaměstnaneckým účtem:</p>
<ul>
    <li>Prohlížení seznamu klientů</li>
    <li>Odstranění klientského účtu</li>
    <li>Vyhledávání podle příjmení</li>
    <li>Prohlížení smluv vybraného klienta</li>
    <li>Prohlížení zpracovaných a nezpracovaných pojistných událostí</li>
    <li>Schvalování / zamítání pojistných událostí</li>
    <li>Přehled pojistných produktů</li>
    <li>Vytváření, úprava a odstraňování pojistných produktů</li>
</ul>
{% endblock %}