{% extends 'main.html' %}

{% block content %}
<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Příjmení</th>
            <th>Jméno</th>
            <th>E-mail</th>
            <th>Bydliště</th>
            <th>Datum narození</th>
            <th>Vymazat</th>
        </tr>
    </thead>
    <tbody>
    {% if object_list.0 %}
    {% for obj in page_obj %}

        <tr>
            <td><a href="{% url 'contracts-list' pk=obj.pk %}">{{ obj.last_name }}</a></td>
            <td>{{ obj.first_name }}</td>
            <td>{{ obj.email }}</td>
            <td>{{ obj.full_address }}</td>
            <td>{{ obj.date_of_birth }}</td>
            <td><a href="{% url 'client-delete' pk=obj.pk %}"><i class="bi bi-trash link-danger"></i></a></td>
        </tr>

    {% endfor %}

    {% else %}
        <tr><td colspan="4">Žádný uživatel nenalezen</td></tr>
    {% endif %}
    </tbody>
</table>
{% if object_list.0 %}
<nav aria-label="Stránkování seznamu klientů">
    <ul class="pagination">
        {% for page in page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}" aria-label="{{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="?page=1" aria-label="První">-->
<!--                <span aria-hidden="true">&laquo;</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        {% if page_obj.has_previous %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}-->
<!--            </a>-->
<!--        </li>{% endif %}-->
<!--        <li class="page-item"><a class="page-link active" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>-->
<!--        {% if page_obj.has_next %}-->
<!--        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>-->
<!--        {% endif %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Následující">-->
<!--                <span aria-hidden="true">&raquo;</span>-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</nav>
{% endif %}
{% endblock %}