{% extends 'main.html' %}

{% block content %}
    <section>
        <p>Číslo smlouvy: {{ object.contract_number }}</p>
        <p>Založeno dne: {{ object.conclusion_date }}</p>
        <p>Roční pojistné: {{ object.payment }} Kč</p>
        <form method="post">
            {% csrf_token %}
            <a class="btn btn-primary" href="{% url 'event-create' contract_number=object.contract_number %}">Nahlásit pojistnou událost</a>
            <button class="btn btn-primary" name="edit">Změnit smlouvu</button>
            <button class="btn btn-primary" name="delete">Ukončit smlouvu</button>
        </form>
    </section>
{% endblock %}