{% extends 'main.html' %}

{% block content %}
    {% if contract_list.0 %}
    {% for obj in contract_list %}
    <a href="{% url 'contract-detail' contract_number=obj.contract_number %}" class="text-decoration-none link-dark">
        <section class="bg-secondary hover-overlay border border-2 rounded-2 p-3 m-3" data-mdb-ripple-color="light">
            <h1>{{ obj.product.name }}</h1>
            <p>Číslo smlouvy: {{ obj.contract_number }}</p>
            <div class="mask" style="background-color: hsla(0, 0%, 98%, 0.2)"></div>
        </section>
    </a>
    {% endfor %}
    {% else %}
    <p>Tento klient nemá uzavřenou žádnou smlouvu</p>
    <a class="btn btn-primary" href="{% url 'client-delete' pk=obj.pk %}">Odstranit klienta</a>
    {% endif %}
{% endblock %}