{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}
        <div><span class="fw-bold">Klient:</span> {{ object.client }}</div>
        <div><span class="fw-bold">Smlouva:</span> {{ object.contract }}</div>
        <div><span class="fw-bold">Datum nahlášení:</span> {{ object.reporting_date }}</div>
        <div><span class="fw-bold">Popis události:</span> {{ object.description }}</div>

        <form method="post">
             {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Potvrdit">
        </form>
{% endblock %}
