{% extends 'main.html' %}

{% block content %}

{% for product in active %}
    <section>
        <div class="container">
            <div class="row bg-light mb-3">
                <div class="col col-sm-6 {% cycle 'order-1' 'order-2' %} d-flex flex-column justify-content-evenly align-items-center">
                    <h3>{{ product.name }}</h3>
                    <p class="text-center">{{ product.description }}</p>
                </div>
                <div class="col col-sm-6 {% cycle 'order-2' 'order-1' %}">
                    <img src="{{ product.image.url }}" class="rounded img-fluid" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </section>
{% empty %}
    <section>
        <p>Momentálně nenabízíme žádný druh pojištění</p>
    </section>
{% endfor %}

{% if inactive %}
    <h4>Již nenabízíme</h4>

{% for product in inactive %}
    <p>{{ product.name }}</p>
{% endfor %}

{% endif %}


{% endblock %}