<!doctype html />
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="styles/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Klientská zóna</h1>
    <form method="POST">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Přihlásit se" />
    </form>
    <p>Nemáte ještě sjednané pojištění?</p>
    <p><a href="new-client">Sjednat pojištění</a></p>
</body>
</html>